@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-box {
    height: 100vh;
    width: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.item-box {
    border: 5px solid whitesmoke;
    font-size: 2rem;
    color: white;
}

.item {
    color: green;
}

.item:hover {
    color: pink;
}

#box{
    padding: 0.5rem 1rem;
    background-color: greenyellow;
    width: 100%;
    height: auto;
    border: 5px solid whitesmoke;
}

#timer-display {
    text-align: center;
    font-size: 5rem;
    font-family: "Jaro", sans-serif;

}